{% extends 'base.html' %}

{% block title %}Профиль {{ player.name }}{% endblock %}

{% block content %}
<div class="container">
    <span>Nickname: {{ player.name }}</span><br>
    <span>Название гильдии: {{ player.guild_name }}</span><br>
    <span>Всего фейма: {{ player.fame.all }}</span><br>
    <span>PvP:</span><br>
    <span>Фейм за убийства: {{ player.fame.pvp.kill_fame }}</span><br>
    <span>Фейм отданный смертями: {{ player.fame.pvp.death_fame }}</span><br>
    <span>Соотношение PvP фейма: {{ player.fame.pvp.fame_ratio }}</span><br>
    <span>PvE:</span><br>
    <span>Всего PvE фейма: {{ player.fame.pve.total }}</span><br>
    <span>PvE фейм в хэлгейтах: {{ player.fame.pve.hellgate }}</span><br>
    <span>Собирательство:</span><br>
    <span>Ткань: {{ player.fame.gathering.fiber }}</span><br>
    <span>Кожа: {{ player.fame.gathering.hide }}</span><br>
    <span>Руда: {{ player.fame.gathering.ore }}</span><br>
    <span>Камень: {{ player.fame.gathering.rock }}</span><br>
    <span>Дерево: {{ player.fame.gathering.wood }}</span><br>
    <span>Всего: {{ player.fame.gathering.all }}</span><br>
    <span>Крафтинг:</span><br>
    <span>Всего: {{ player.fame.crafting }}</span><br>


</div>
{% endblock %}