{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <form method="get" class="form-inline my-2 my-lg-0">
                 <input class="form-control mr-sm-2" type="search" name="req" placeholder="Search" aria-label="Search" value="{{ req_obj.request }}">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
    </div>
    <div class="row">
        {% for search in recent_searches %}
             <div class="d-inline p-2 bg-dark text-white">{{ search }}</div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="card">
            <p>Игроки</p>
            {% for player in req_obj.players %}
            <li><a href="players/{{ player.id }}">{{ player.name }}</a></li>
            {% endfor %}
        </div>
        <div class="card">
            <p>Гильдии</p>
            {% for guild in req_obj.guilds %}
             <li><a href="guilds/{{ guild.id }}">{{ guild.name }}</a></li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}